/* 浏览器滚动条样式 */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #B3B3B3;
}
