Source: dmarked
Section: editors
Priority: optional
Maintainer: Lu Hongxu <lhongxu@outlook.com>
Build-Depends: 
  debhelper (>=11~), 
  qt5-qmake, 
  pkg-config,
  qtbase5-dev,
  libdtkcore-dev,
  libdtkwidget-dev,
  qtwebengine5-dev,
  cmake,
  qttools5-dev,
  qttools5-dev-tools
Standards-Version: 4.1.4
Homepage: https://github.com/wineee/DMarked

Package: dmarked
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: a dtk based markdown editor
  An editor that supports elegant editing and preview of markdown files,
  and supports (batch) conversion to html/pdf 
