.success {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #3A6F3A;
  background-color: #DAEDD2;
}

.info {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #2B6584;
  background-color: #D3EAF6;
}

.warning {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #AF9C75;
  background-color: #FCF7DF;
}

.danger {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #9F3B3A;
  background-color: #F0D9D9;
}